header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.form {
    background-color: rgb(140, 230, 230);
    width: 350px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
input {
    all: unset;
    font: 16px ;
    color: rgb(14, 13, 13);
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}
::placeholder {
    color: rgb(16, 107, 129);
    opacity: 0.7;
    font-size: 16px;
}
button{
    all: unset;
    background-color: rgb(49, 195, 231);
    color: #fff;
    cursor: pointer;
    width: 100px;
    height: 44px;
    padding: 5px 8px;
    text-transform: capitalize;
    text-align: center;
    border-radius: 5px;
}

body {
    background-color: rgb(205, 240, 240);
    
}
.catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
}

.catalog__product {
    flex: 1 270px;
    max-width: 270px;
    height: 290px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(202, 82, 218);
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
}
.catalog__product:hover {
    border: 2px solid slateblue;
}

.catalog__photo {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2px;
}
.catalog__photo img {
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
}

.catalog__prices {
    border-top: 2px solid rgb(241, 128, 128);
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.catalog__title {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;

}
.nav {
    display: flex;
    padding: 20px;
}
.sidenav {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sort {
    background-color: cornflowerblue;
    width: 50px;
}